<div class="container">
  <app-header #header></app-header>
</div>
<div class="container">

  <div class="jumbotron" *ngIf="displayEdit && header.isAdmin ">
    <div class="form-row">
      <div class="input-group mb-3 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-question"></i></span>
        </div>
        <input name="name" [(ngModel)]="savePaper.name" class="form-control" placeholder="Paper" type="text">


        <div class="input-group-append">
          <span class="input-group-text"> Name</span>
        </div>
      </div>

      <div class="input-group mb-3 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-file-text"></i></span>
        </div>
        <input name="desc" [(ngModel)]="savePaper.desc" class="form-control" placeholder="Description">




        <div class="input-group-append">
          <span class="input-group-text"> Desc</span>
        </div>
      </div>



    </div>



    <h1 class="display-3">{{savePaper.name}}</h1>
    <p class="lead">{{savePaper.desc}}</p>

    <div class="form-row">
      <div class="input-group mb-3 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
        </div>
        <input name="name" [(ngModel)]="savePaper.totalTime" class="form-control" aria-label="Time is mins"
          placeholder="Time in Mins" type="number">


        <div class="input-group-append">
          <span class="input-group-text"> mins</span>
        </div>
      </div>

      <div class="input-group mb-3 col-md-6">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-calculator"></i></span>
        </div>
        <input name="desc" [(ngModel)]="savePaper.totalQuestion" disabled class="form-control" placeholder="Questions "
          aria-placeholder="Questions">

        <div class="input-group-append">
          <span class="input-group-text"> Ques</span>
        </div>
      </div>
    </div>


    <p><a class="btn btn-lg btn-success" href="javascript:void(0)" role="button" (click)="savepaperDetail('go')">Submit and Question <i class="fa fa-arrow-right "></i>  </a></p>
<br/>
<p><a class="btn btn-lg btn-success" href="javascript:void(0)" role="button" (click)="savepaperDetail('')"> <i class="fa fa-arrow-left "></i>  Submit and List </a></p>
  </div>
  <div class="jumbotron" *ngIf="!displayEdit">
       
  
  
      <h1 class="display-3">{{savePaper.name}}</h1>
      <p class="lead">{{savePaper.desc}}</p>
  
      
  
  
      <p><a class="btn btn-lg btn-success" href="javascript:void(0)" role="button"routerLink="/question">Questions >> </a></p>
  
    </div>
 

  <footer class="footer">
    <p>© Target 2019</p>
  </footer>

</div>